<template>
   <div>
     <button @click=addNewEntry> Add </button>
     <button @click=submit> Submit </button>
     <table>
       <tr v-for="entry in entries">
         <td>
           <input type="text" v-model="entry.id" />
           <input type="text" v-model="entry.name" />
         </td>
       </tr>
     </table>
   </div>
</template>

<script>
  export default {
    data(){
      return {
        entries:[
          {
            id:'',
            name:''
          }
        ]
      }
    },
    methods:{
      addNewEntry(){
        this.entries.push({id:'',name:''})
      },
      submit(){
        console.log(this.entries)
        this.entries.forEach(i=> console.log(i.name))
      }
    }
  }
</script>
