<template>
  <div>
    Firstname : <input type="text" v-model="firstname">
    Lastname : <input type="text" v-model="lastname">
    <button @click="onRegister"> Register </button>
  </div>

</template>

<script>
 export default {
   name:'Register',
   data(){
     return {
     firstname:'',
     lastname:  ''
   }
   },
   methods:{
     onRegister(){
       console.log(this.firstname + " "+ this.lastname)
     }
   }
 }
</script>
